<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>

<p>
  <strong>Image url:</strong><br>
  <%= image_tag(@episode.image_url, width: "350") %>
</p>


<%= render 'new_comment' %>

<%= render 'comments' %>
